<div class="wrapper">
  <div (click)="onClick('pot')" style="border-radius: 5px 5px 0 0; overflow: hidden;">
    <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <filter id="svg_14_blur">
           <feGaussianBlur stdDeviation="0.9" in="SourceGraphic"/>
          </filter>
         </defs>
      <g>
        <rect fill="#e0ec34" id="canvas_background" height="152" width="152" y="-1" x="-1" />
        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
          <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
        </g>
      </g>
      <g>
        <ellipse ry="3" rx="3" id="svg_1" cy="25" cx="25" stroke-width="1" stroke="#000" fill="#000" />
        <ellipse ry="3" rx="3" id="svg_3" cy="25" cx="75" stroke-width="1" stroke="#000" fill="#000" />
        <ellipse ry="3" rx="3" id="svg_4" cy="25" cx="125" stroke-width="1" stroke="#000" fill="#000" />
        <ellipse ry="3" rx="3" id="svg_5" cy="75" cx="75" stroke-width="1" stroke="#000" fill="#000" />
        <ellipse ry="3" rx="3" id="svg_6" cy="75" cx="25" stroke-width="1" stroke="#000" fill="#000" />
        <ellipse ry="3" rx="3" id="svg_7" cy="125" cx="125" stroke-width="1" stroke="#000" fill="#000" />
        <ellipse ry="3" rx="3" id="svg_8" cy="125" cx="125" stroke-width="1" stroke="#000" fill="#000" />
        <ellipse ry="3" rx="3" id="svg_10" cy="125" cx="75" stroke-width="1" stroke="#000" fill="#000" />
        <ellipse ry="3" rx="3" id="svg_11" cy="125" cx="25" stroke-width="1" stroke="#000" fill="#000" />
        <ellipse ry="3" rx="3" id="svg_12" cy="75" cx="125" stroke-width="1" stroke="#000" fill="#000" />

      </g>
      <g filter="url(#svg_14_blur)" id="svg_14">
          <ellipse *ngFor="let p of points;index as i" ry="6" rx="6" id="svg_1" 
          [attr.cy]="p.y" [attr.cx]="p.x" stroke-width="2" [attr.stroke]="i==0?'#0ab226':'#000'" fill="none" />
      </g>
      <g>
        <line *ngFor="let line of strokes" stroke-linecap="null" stroke-linejoin="null" id="svg_13" [attr.x1]="line.x1"
          [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" fill-opacity="null" stroke-opacity="null"
          stroke-width="3" stroke="#000" fill="none" />
      </g>
    </svg>
  </div>
  <div class="bottom-icons" *ngIf="data" style="border-radius: 0 0 5px 5px;">

    <span class="p-name">
      <div class="pl-1 pattern-name">
        {{pattern.join('')}}
      </div>
      <div class="icon-wrapper">
        <span [ngClass]="{'ban':data.ban}" (click)="onClick('ban')"><i class="fa fa-ban"></i></span>
        <span [ngClass]="{'chk':data.chk}" (click)="onClick('chk')"><i class="fa fa-check"></i></span>
        <span [ngClass]="{'thm':data.thm}" (click)="onClick('thm')"><i class="fa fa-thumbs-up"></i></span>
        <span [ngClass]="{'pot':data.pot}" (click)="onClick('pot')"><i class="fa fa-thumb-tack"></i></span>
      </div>
    </span>
  </div>

</div>