.wrapper {
  width: 150px;
  // position: relative;
  .bottom-icons {
    background-color: #0b1114;
    color: #ffffff;
    .pattern-name {
      text-align: center;
      color: #e0ec34;
      font-weight: bold;
    }
    .icon-wrapper {
      display: flex;
      justify-content: space-evenly;
      span {
        cursor: pointer;
        padding: 0 6px;
        border-radius: 2px;
        &.ban {
          background-color: red;
        }
        &.chk {
          background-color: rgb(20, 126, 247);
        }
        &.thm {
          background-color: rgb(0, 255, 34);
        }
        &.pot {
          background-color: #d549c4;
        }
      }
    }
  }
}
