.wrapper {
  width: 150px;
  // position: relative;
  .bottom-icons {
    background-color: #17607b;
    color: #ffffff;
    .p-name {
      // position: absolute;
      // bottom: 1px;
      // left: 1px;
    }
    .icon-wrapper {
      float: right;
      span {
        cursor: pointer;
        padding: 0 7px;
        &.ban{
            background-color: red;
        }
        &.chk{
            background-color: rgb(255, 94, 0);
        }
        &.thm{
            background-color: rgb(0, 255, 34);
        }
      }
    }
  }
}
