<div class="wrapper">
  <div>
    <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg">
      <g>
        <title>background</title>
        <rect fill="#e0ec34" id="canvas_background" height="152" width="152" y="-1" x="-1" />
        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
          <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
        </g>
      </g>
      <g>
        <title>Layer 1</title>
        <ellipse ry="5" rx="5" id="svg_1" cy="25" cx="25" stroke-width="1.5" stroke="#000" fill="#fff" />
        <ellipse ry="5" rx="5" id="svg_3" cy="25" cx="75" stroke-width="1.5" stroke="#000" fill="#fff" />
        <ellipse ry="5" rx="5" id="svg_4" cy="25" cx="125" stroke-width="1.5" stroke="#000" fill="#fff" />
        <ellipse ry="5" rx="5" id="svg_5" cy="75" cx="75" stroke-width="1.5" stroke="#000" fill="#fff" />
        <ellipse ry="5" rx="5" id="svg_6" cy="75" cx="25" stroke-width="1.5" stroke="#000" fill="#fff" />
        <ellipse ry="5" rx="5" id="svg_7" cy="125" cx="125" stroke-width="1.5" stroke="#000" fill="#fff" />
        <ellipse ry="5" rx="5" id="svg_8" cy="125" cx="125" stroke-width="1.5" stroke="#000" fill="#fff" />
        <ellipse ry="5" rx="5" id="svg_10" cy="125" cx="75" stroke-width="1.5" stroke="#000" fill="#fff" />
        <ellipse ry="5" rx="5" id="svg_11" cy="125" cx="25" stroke-width="1.5" stroke="#000" fill="#fff" />
        <ellipse ry="5" rx="5" id="svg_12" cy="75" cx="125" stroke-width="1.5" stroke="#000" fill="#fff" />
        <line *ngFor="let line of strokes" stroke-linecap="null" stroke-linejoin="null" id="svg_13" [attr.x1]="line.x1"
          [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" fill-opacity="null" stroke-opacity="null"
          stroke-width="3" stroke="#000" fill="none" />
      </g>
    </svg>
  </div>
  <div class="bottom-icons">

    <span class="p-name">
      <span>
        {{pattern.join('')}}
      </span>
      <span class="icon-wrapper">
        <span [ngClass]="{'ban':data.ban}" (click)="onClick('ban')"><i class="fa fa-ban"></i></span>
        <span [ngClass]="{'chk':data.chk}" (click)="onClick('chk')"><i class="fa fa-check"></i></span>
        <span [ngClass]="{'thm':data.thm}" (click)="onClick('thm')"><i class="fa fa-thumbs-up"></i></span>
        <span [ngClass]="{'pot':data.pot}" (click)="onClick('pot')"><i class="fa fa-thumb-tack"></i></span>
      </span>
    </span>
  </div>

</div>