<h3>Android LockScreen Brute</h3>
<div>
  Starts at:
  <div *ngFor="let row of dots">
    <input *ngFor="let dot of row" class="checkbox" (change)="updateList(dot, $event)" 
    [(ngModel)]="dotsStatus[dot]"
    type="checkbox" name="" id="">
  </div>
  <div>
    <input type="button" (click)="onSelect('all')" value="Select All">
    <input type="button" (click)="onSelect('none')" value="Select None">
  </div>
  <br>
  <input type="number" [(ngModel)]="dotsLength">
  <button (click)="onFilter()">Generate</button>
  <span>Total combinaions: {{this.mergedPattern.length}}</span>
</div>


<div>
  <div class="pattern-container" *ngFor="let item of mergedPattern">
    <pattern-svg [pattern]="item.pattern">
    </pattern-svg>
  </div>
</div>


<router-outlet></router-outlet>