/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1F5768;
  color: #D9ECDA;
}

body p-inputNumber .ui-inputtext {
  background-color: #fff;
  color: #000;
}
.ui-inputnumber-buttons-vertical {
  width: 3rem;
}
