<div class="wrapper">
  <div class="dot">
    <div class="circle"></div>
  </div>
  <div class="dot">
    <div class="circle"></div>
  </div>
  <div class="dot">
    <div class="circle"></div>
  </div>
  <div class="dot">
    <div class="circle"></div>
  </div>
  <div class="dot">
    <div class="circle"></div>
  </div>
  <div class="dot">
    <div class="circle"></div>
  </div>
  <div class="dot">
    <div class="circle"></div>
  </div>
  <div class="dot">
    <div class="circle"></div>
  </div>
  <div class="dot">
    <div class="circle"></div>
  </div>
</div>